{
    "driver_path": 'FILL IN WITH PATH',
    "headless" : false,
    "op_login": {
        "username": "FILL IN WITH ODDSPORTAL USERNAME",
        "password": "FILL IN WITH ODDSPORTAL PASSWORD"
    }
}